---
# tasks file for update-system-linux
- name: Update package manager cache
  become: true
  package:
    update_cache: true
    cache_valid_time: 3600
  register: updaded_packages

- name: Upgrade system packages
  become: true
  package:
    upgrade: true
    autoremove: true
    autoclean: true
    cache_valid_time: 3600
  when: updaded_packages.changed

- name: Ensure System Packages are installed
  package:
    name: "{{ item }}"
    state: present
  loop: "{{ system_install_packages }}"
